@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

html,
body {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
span,
li {
  font-family: "Onest", sans-serif;
  color: #1d1d1d;
}

.peer:not(:checked) + div img {
  display: none;
}

.bg_body {
  background: #ffeae9 url("../imgs/icons/mainlinear.svg") center/cover no-repeat;
}

button {
  cursor: pointer;
}
